node_modules
.next
.env*.local
.env
*.tsbuildinfo
.vercel

.codex-dev-stderr.log
.codex-dev-stdout.log
.codex-dev-*.log
.codex-prod-*.log
.codex-review-*/
.codex-video-review/
logo 3d model.glb
FATORQ-main/
